/* 
Project: SOC Printer Monitor
Version: 5
Author: Gerald Yeo
For: SigLabs

Reset style by: meyerweb
*/

/**************************************
 *	Reset
 **************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}
body {
line-height: 1; }
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table {border-collapse: collapse;	border-spacing: 0;}

/**************************************
 *	Standard / Shared
 **************************************/
 body{font-family: serif;}
 
 strong{font-weight: bold;}
.clear{clear: both;}
.hide{display: none;}
.show{display: block;}
.small{font-size: 0.7em; margin: 1em;}

#wrapper{position: relative; overflow: hidden; font-size: 15px; padding-bottom: 1.5em; }
footer.main{clear: both;}
header.main img.logo{width: 20px; height: 20px; float: left; margin: 0 5px;}
header.main a{color: #000; text-decoration: none;}
header.main a:hover{text-decoration: underline;}
header.main{padding: 0.5em; font-weight: bold;}

#printer-list {position: relative; background: #eee; border-top: 1px #bbb solid; border-bottom: 5px #111 solid;}
#printer-list, #printer-list h2.mlink{
	background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(173,173,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(173,173,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(173,173,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(173,173,173,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(173,173,173,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(232,232,232,1) 0%,rgba(173,173,173,1) 100%); /* W3C */
}
#printer-list ul li a .ui-li-count{border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;	}


#list-home{text-align: center; padding-top: 6%;}
#list-home h2{font-weight: bold; padding: 1em 0;}
#list-home  cite{font-size: 0.8em; margin: 2em; display: block;}
.controlSet {font-size: 0.7em; padding: 1em; margin: 0 auto; width: 30%; margin: 0 auto; background: #ffd; border: 2px #ffa solid;}
.controlSet h3{font-weight: bold; text-decoration: underline;} 
.controlSet ul, .ctrl-item{}
.ctrl-item a{color: #200; display: block; margin: 0.6em 0;}
.ctrl-item a:hover{cursor: pointer; text-decoration: underline;}
.ctrl-item strong{color: #a00;}
.ctrl-item .ok{color: #060;}

.subQ .job li.matric{float: left; font-size: 1.6em; font-weight: bold; color: #500; margin-right: 0.5em; padding-bottom: 0.5em;}
.subQ .job li.size, .subQ .job li.jobID{font-style: italic; font-size: 0.7em; line-height: 1.5em;}
.subQ .job li.size strong, .subQ .job li.jobID strong{font-style: normal; font-size: 1.5em;}

	
	
	
/**************************************
 *	mobile: under 600px
 **************************************/

@media only screen and (max-width:600px){
	.nmobile{display: none;}

	header.main{font-size: 1.2em; color: #fff;
		background: -moz-linear-gradient(top, rgba(28,28,28,1) 0%, rgba(91,91,91,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,28,28,1)), color-stop(100%,rgba(91,91,91,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(28,28,28,1) 0%,rgba(91,91,91,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(28,28,28,1) 0%,rgba(91,91,91,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(28,28,28,1) 0%,rgba(91,91,91,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(28,28,28,1) 0%,rgba(91,91,91,1) 100%); /* W3C */
	}
	header.main a{color: #fff;}
	#printer-list { background: #eee; font-weight: bold; border:none;}
	#printer-list h2.mlink{text-align: right; font-size: 1.2em; cursor: pointer; padding: 0.5em; color: #300; border-bottom: 1px #666 solid;}
	#printer-list h2.mlink:hover{text-decoration: underline;}
	#printer-list ul { border-bottom: none; position: relative; margin-bottom: 1em;}
	#printer-list ul li a{clear: both; display: block; color: #600; text-decoration: none; padding: 1em; font-size: 1em; border-bottom: 1px #ddd solid;
		background: -moz-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f4f4f4 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f4f4f4 0%,#e5e5e5 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #f4f4f4 0%,#e5e5e5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #f4f4f4 0%,#e5e5e5 100%); /* W3C */
	}
	#printer-list ul li a:hover{background: #e5e5e5;}
	#printer-list ul li a .ui-li-count{float: right; background: #ddd; padding: 2px; color: #300; font-weight: bold; margin-left 8px; font-weight: bold;}
	
	#list-home{font-size: 1.2em; }
		
	.controlSet {width: 90%;}
	
	.subQ{width: 100%; display: block;}
	.subQ header{font-size: 1.2em; text-align: center; font-weight: bold; padding: 0.5em 0; background: #222;color: #fff;}
	.subQ header h2{display: inline;}
	.subQ header .ui-li-count{background: #090; padding: 0.4em 1em; color: #fff; margin-left: 10px; font-weight: bold;}
	.subQ .job{display: block; border-bottom: 2px #bbb solid; background: #eee; padding: 0.5em;}
	
	.subQ .clear{margin-bottom: 1em;}
	
	footer.main .qr-img{display: none;}
}



/**************************************
 *	600px and above
 **************************************/

	body, #wrapper{background: #111;}
	#wrapper{font-size: 25px; color: #fff;}
	.subQ header h2{color: #000;}
	.subQ .job li.matric{color: #ffd700;}

 
	header.main{display: none; background: #ddd; font-size: 1em;}
	header.main img.logo{display: none;}
	
	#printer-list .mlink{display: none;}
	#printer-list ul li{display: block !important;}
	
	#printer-list ul li{float: left; }
	#printer-list ul li a{display: block; color: #600; text-decoration: none; padding: 1em; font-size: 1em;}
	#printer-list ul li a:hover{background:#e5e5e5; font-weight: bold;}
	#printer-list ul li a .ui-li-count{padding: 3px 8px; background: #700; color: #fff; margin-left: 8px; font-weight: bold;}
	#printer-list ul li a.active{background: #111; color: #fff;}

	#list-home{font-size: 1.5em;  }
	
	.listQ{position: relative; width: 100%; height: 100%;}
	.subQ{float: left; margin: 0 1%;  width: 30%;}
	.subQ header{margin-top: 1em; padding: 0.5em 1em; text-align: center; font-weight: bold; background: #eee; border: 1px #ccc solid;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.subQ header h2{display: inline; margin-right: 1em; font-size: 1.3em;}
	.subQ header .ui-li-count{padding: 3px 8px; background: #060; color: #fff; margin-left: 2px; font-weight: bold;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.subQ .job{display: block; border-bottom: 2px #ccc solid; padding: 0.5em; margin-bottom: 0.4em;}
	.subQ .job li.size, .subQ .job li.jobID{font-size: 0.6em; }
	
	footer.main .qr-img{position: absolute; top:5px; right: 5px; width: 4.5em; height: 4.5em;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

body, html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
